body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body > header{
  display: block;
  width: 100%;
  color: #FFF;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #46917f; 
}

a {
  color: #46917f;


}
